<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"> Bioimage analysts team at CSIF.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/cedric_picture.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Cedric Espenel</h4>
                                  <h4 class="subheading">Bioimage Analyst</br> Cell Sciences Imaging Facility </br> Stanford University</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">As a Bioimage Analyst in the Cell Science Imaging facility (CSIF) at the Shriram Center in Stanford, Cedric Espenel’s primary responsibility is the training of new users in cutting-edge microscopy and imaging techniques and the management of the Shriram Center CSIF's sister facility. Cedric also provides expertise in assembling individual methods into complete image processing pipelines for specific projects using Python/SciPy.</p>
                              </div>
                          </div>
                      </li>
                        <!--<li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/F3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2014</h4>
                                    <h4 class="subheading">Imaging Specialist </br> Confocal Microscopy Center </br> Columbia University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Co-established and optimized super-resolution microscopy in the facility and organized a super-resolution workshop.
</p>
                                </div>
                            </div>
                        </li>-->

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/jon_picture.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jon Mulholland</h4>
                                    <h4 class="subheading">Director </br> Cell Sciences Imaging Facility </br> Stanford University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jon Mulholland is Director of the Cell Sciences Imaging Facility (CSIF) at Stanford University. He has served as Director of the CSIF for over 15 years during which time he has overseen the expansion of the CSIF by establishing and setting up its current EM core, upgrading significant components of the fluorescence light microscopy core and developing the facility advanced imaging capabilities (super resolution SIM, STORM, gSTED, FLIM, FRET, array tomography).</p>
                                </div>
                            </div>
                        </li>
                        <!--<li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/F2.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2008</h4>
                                  <h4 class="subheading">Ph.D. in Cell Biology and Biophysics <br>Montpellier University (France)</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Used single-molecule fluorescence microscopy to dissect dynamics and partitioning of
the tetraspanin CD9 in the plasma membrane, work published in J. Cell. Biol. in 2008.</p>
                              </div>
                        </li>-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Here
                                    <br>To
                                    <br>Help you!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
