<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">Bioimage analysts with competency in life science, microscopy and informatics.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/F4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Since 2014</h4>
                                    <h4 class="subheading">Imaging Specialist </br> Cell Sciences Imaging Facility </br> Stanford University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Established the imaging facility in the BioEngineering Dpt of Stanford University.</br>Developed methods using python for image processing and data analysis workflow.</br> Work was published in J. Cell Sci. in 2016.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/F3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2014</h4>
                                    <h4 class="subheading">Imaging Specialist </br> Confocal Microscopy Center </br> Columbia University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Established and optimized the super-resolution microscopy (STORM and SIM) in the facility and organized a super-resolution workshop.
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/F1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2013</h4>
                                    <h4 class="subheading">Postdoctoral Research Fellow </br> Weill Cornell Medical College</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Developed a tool to monitor changes in kinesin activity in live cells by FRET-FLIM,
work published in J. Cell. Biol. in 2013.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/F2.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2008</h4>
                                  <h4 class="subheading">Ph.D. in Cell Biology and Biophysics <br>Montpellier University (France)</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Used single-molecule fluorescence microscopy to dissect dynamics and partitioning of
the tetraspanin CD9 in the plasma membrane, work published in J. Cell. Biol. in 2008.</p>
                              </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Here
                                    <br>To
                                    <br>Help you!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
